###############################################
# IGNORE ALL RAW DATA & INTERMEDIATE FILES
###############################################

# Ignore full data directory (big files)
data/**/*
!data/README.md

# Ignore typical genomics formats
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.bam
*.fastq
*.fastq.gz
*.zip

###############################################
# IGNORE RESULTS EXCEPT FINAL OUTPUTS
###############################################

# Ignore everything in results by default
results/*
results/**

# UN-IGNORE directories so children can be matched
!results/
!results/froh/
!results/plots/

# UN-IGNORE final output files only
!results/froh/merged_froh.tsv
!results/plots/*.png

###############################################
# IGNORE INTERMEDIATE SNakEMAKE STUFF
###############################################

results/plink/**
results/roh/**
results/roh_per_chrom/**
results/temp/**


