# Do NOT track large data files
data/**/*
!data/README.md

# Ignore VCF, BAM, FASTQ, etc.
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.bam
*.fastq
*.fastq.gz
*.zip

# Ignore results
results/

# Ignore raw data
popgen_pipeline/data/**/*

# Allow placeholder readme
!popgen_pipeline/data/README.md

# Ignore common genomic data formats
*.vcf
*.vcf.gz
*.vcf.gz.tbi
*.bam
*.fastq
*.fastq.gz
*.zip

# Ignore intermediate ROH files
results/plink/**
results/roh/**
results/roh_per_chrom/**
results/temp/**

# Allow final processed outputs only
!results/froh/merged_froh.tsv
!results/plots/*.png

